
.main {
  
  padding: 0%;
  margin: 0%;
  padding-top: 10%;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 12, 19);
  color: aliceblue;
}

.heading{
  font-size: 1.9rem;
  /* text-decoration-line: underline; */
  text-align: center;
  font-weight: 600;
  padding: 5%; 
}

.nextMeal{
  width: 100%;
  height: fit-content;
}

.foodItem{
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
}

.buttons{
  width: 100%;
  display: flex;
  min-height: 50px;
  max-height: 10%;
  justify-content: space-evenly;
  align-items: center;
}
.navButton{
  height: 100%;
  padding: 5%;
  border-radius: 20%;
  font-weight: 600;
  background-color: rgb(0, 219, 219);
  color: black;
}